@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(239, 235, 235));
}
.p{
  margin-left: 1rem;
  margin-right: 1rem;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(220, 213, 213);
  max-width: 1420px;
  margin-top: 2rem;
  /* overflow: auto; */
  min-height: 500px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  border-radius: 5px;
  background-color:rgb(240, 87, 87);
  background-image: url('city.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity:0.5; */
  background-blend-mode: multiply;
}

.waves{
  display: flex;
  border-radius: 5px;
  margin-top: -14rem;
  margin-left: -2rem;
  margin-right: 0rem;
  overflow: auto;
  padding-top: 50px;
  min-height: 250px;
  transform: rotate(180deg);
  background-image: url('wave3.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color:rgb(0, 0, 0);
  background-color: rgba(249, 244, 244, 1);
  text-align: center;
}
.logo{
  overflow: auto;
  display: flex;
  margin: 1rem;
  max-width: 100px;
  max-height: 100px;
  background-image: url('rpsblack.png');
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background:linear-gradient(to right, rgb(123, 3, 3), rgb(172, 14, 14)) ;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.footer {
  margin-left: 0rem;
  margin-right: 0rem;
  left: 0;
  bottom: 0;
  width: 100%;
  color:aliceblue;
  background-color: darkred;
  margin-top: 30px;
  text-align: center;
}